@model AllLayoutModel
@{
    ViewData["Title"] = "List";
    Layout = Model.Layout;
}




<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <header class="page-header">
            <input type="text" id="txtsearch" placeholder="Müşteri Giriniz" />
        </header>
        <hr />
        <table class="table table-bordered">
            <tr>
                <td>Kategori</td>
                <td>Üst Kategori</td>
                <td></td>
            </tr>
            @foreach (var customer in Model.Categories)
            {
                <tr class="Search">
                    <td>@customer.name</td>
                    @if (customer.parentId != null)
                    {
                        <td>@Functions.parentidcategoryname(customer.parentId)</td>
                    }
                    else
                    {
                        <td>Boş</td>
                    }
                    <td style="text-align:right">
                        <a href="/Categoria/SubCategoria/@customer.id" name="id" class="btn-sm btn-success" style="margin-right:6px !important;" title="Fişler">Alt Kategorileri</a>
                        @*  <a href="/ProductType/Add/@CommondMethod.ConvertToEncrypt(@customer.id.ToString())" name="id" class="btn-sm btn-info" style="margin-right:6px !important;" title="Fişler">Yeni Fiş</a>
                    <a href="/Customer/Update/@CommondMethod.ConvertToEncrypt(@customer.id.ToString())" name="id" class="btn-warning btn-sm" style="margin-right:6px !important;" title="Edit">Güncelle</a>
                    <a href="/Check/CheckGive/@CommondMethod.ConvertToEncrypt(@customer.id.ToString())" name="id" class="btn-danger btn-sm" style="margin-right:6px !important;" title="Çek">Çek Ver</a>
                    <a href="/Check/CheckOfCustomer/@CommondMethod.ConvertToEncrypt(@customer.id.ToString())" name="id" class="btn-Secondary btn-sm" style="margin-right:6px !important;" title="Çek">Çekler</a>*@
                    </td>
                </tr>
            }
        </table>
    </div>

</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#txtsearch").keyup(function() {
            var searchtext = $("#txtsearch").val().toLowerCase();
            $(".Search").each(function() {
                if (!Contains($(this).text().toLowerCase(), searchtext)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            })
        })
    })
</script>


